html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.body_index, .body_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 100vh;
}

.cadastro, .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(54, 54, 54);
    padding: 40px;
    gap: 15px;
}

.logoRecicla {
    padding-bottom: 20px;
    max-width: 130px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.campo_form {
    padding: 9px 0 7px 8px;
    border: 1px solid rgb(118, 118, 118);
    background-color: #121212;
    color: white;   
    border-radius: 2px;
    height: 20px;
    width: 250px;
    font-size: 13px;
}

input::placeholder {
    color: rgb(160, 160, 160);
}

.submit {
    margin-top: 20px;
    background-color: rgba(204, 245, 234, 0.5);
    color: black;
    height: 32px;
    width: 268px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.conectar, .cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid rgb(54, 54, 54);
    width: 348px;
    padding: 20px 0px;
}

.conectar {
    flex-direction: column;
}

.cadastrar {
    flex-direction: row;
    gap: 4px;
}

.conectar p, .cadastrar p {
    margin: 0;
    color: white;
    font-size: 14px;
}

#conectar {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgba(204, 245, 234, 0.5);
}

.footer_index, .footer_login {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    color: rgb(118, 118, 118);
}

.body_principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

h2, h3 {
    font-family: "Montserrat", sans-serif;
}

.header_principal {
    display: flex;
    align-items: center;
    padding: 10px 5%;
    border-bottom: 3px solid rgba(204, 245, 234, 0.5);
}

.header_principal img {
    width: 80px; 
    height: 80px;
}

.header_principal nav {
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.header_principal nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.header_principal nav a:hover {
    color: rgba(204, 245, 234, 0.8);
}

.main_principal {
    width: 90%;
    margin: 0 auto;
    padding: 60px 5%;
    flex: 1;
}

.main_principal section {
    display: flex;
    align-items: center;
    gap: 60px;
    min-height: 70vh;
    margin-bottom: 100px;
}

.section_content {
    flex: 1;
}

.section_content p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.section_content h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgba(204, 245, 234, 0.8);
    margin-bottom: 20px;
}

.inicio {
    scroll-margin-top: 200px;
}

.inicio img {
    max-width: 400px;
    height: auto    ;
}

.body_principal strong {
    color: rgba(204, 245, 234, 0.8);
}

.reciclagem {
    flex-direction: row-reverse;
    scroll-margin-top: 100px;
}

.reciclagem img {
    max-width: 500px;
    border-radius: 5px;
}

.coleta {
    scroll-margin-top: 100px;
}

.coleta ul {
    list-style: none;
    margin: 30px 0;
}

.coleta li {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 15px;
}

.coleta a {
    color: white;
    font-weight: 700;
}

.coleta a:hover {
    color: rgba(204, 245, 234, 0.8)
}

.coleta img {
    max-width: 500px;
    height: auto;
}

.guia {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: auto;
    padding: 60px 0;
    scroll-margin-top: 50px;
}

.guia h2, .ods h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgba(204, 245, 234, 0.8);
}

.guia p, .ods p, .ods li {
    font-size: 18px;
    line-height: 1.6;
}

.guia_info {
    display: flex;
    justify-content: center;
    gap: 40px; 
    width: 100%;
    margin-top: 40px;
    text-align: left;
}

.guia_column{
    flex: 1;
    min-width: 220px;
    max-width: 250px;
    padding: 20px;
    background-color: #121212;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 8px;
}

.guia h3 {
    font-size: 22px;
    color: rgba(204, 245, 234, 0.8);
    text-align: center;
    margin-bottom: 20px;
}

.fa-solid {
    margin-right: 10px;
}

.guia ul {
    list-style: none;
}

.guia li {
    font-size: 15px;
    margin-bottom: 10px;
}

.guia .xmark {
    margin-top: 20px;
}

.check .fa-check {
    color: #2ecc71;
    margin-right: 8px;
}

.xmark .fa-xmark {
    color: #e74c3c;
    margin-right: 8px;
}

.ods {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: auto;
    padding: 60px 0;
    scroll-margin-top: -40px;
}

.ods p {
    max-width: 60%;
}

.ods ul {
    list-style: none;
    margin: 15px 0;
    background-color: #121212;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 8px;
    padding: 30px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ods ul img {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.lista_strong strong {
    font-size: 20px;
}

.explore_ods {
    padding: 12px 25px;
    border: 2px solid rgba(204, 245, 234, 0.5);
    border-radius: 8px;
    color: rgba(204, 245, 234, 0.8);
    font-weight: 700;
    text-decoration: none;
}

.explore_ods:hover {
    background-color: rgba(204, 245, 234, 0.5);
    color: black;
}

.footer_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 25px 5%;
    border-top: 3px solid rgba(204, 245, 234, 0.5);
}

.curriculos {
    display: flex;
    gap: 80px;
    margin-bottom: 25px;
}

.curriculo_artur, .curriculo_felipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curriculos h2 {
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-bottom: 12px;
}

.curriculos a {
    color: white;
    font-size: 30px;
}

.curriculos a:hover {
    color: rgba(204, 245, 234, 0.8);
}

.fa-user {
    margin: 0;
}

.footer_principal p {
    font-size: 14px;
    color: rgb(118, 118, 118);
    text-align: center;
    margin-top: auto;
}

.nav_admin {
    font-weight: 700;
    color: rgba(204, 245, 234, 0.8);
    text-decoration: underline;
}

.admin_section {
    display: flex;
    justify-content: center;
    min-height: auto;
    margin-bottom: 50px;
}

.admin_content {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_content h2 {
    color: rgba(204, 245, 234, 0.8);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center;
}

.admin_content p {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.form_admin {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.admin_botoes {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    width: 100%;
}

.admin_botao_cadastro {
    flex: 1;
}

.admin_botao_limpar {
    flex: 1;
    background-color: #333;
    color: white;
    border: 1px solid rgb(54, 54, 54);
}

.admin_botao_limpar:hover {
    background-color: #444;
}

.botao_excluir {
    background-color: #7a1f1f;
    color: white;
    width: auto;
    padding: 0 15px;
    margin: 0;
}

.btn_excluir:hover {
    background-color: #a83232;
}

.admin_separador {
    border: 0;
    border-top: 1px solid rgb(54, 54, 54);
    margin: 40px 0;
    width: 100%;
}

.admin_lista_cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin_lista_cadastro h3 {
    color: rgba(204, 245, 234, 0.8);
    margin-bottom: 5px;
    font-size: 24px;
}

.admin_pesquisa {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.campo_pesquisa {
    flex: 1;
    width: auto;
}

.lista_usuarios {
    list-style: none;
    padding: 0;
    width: 100%;
}

.item_lista {
    background-color: #121212;
    border: 1px solid rgb(54, 54, 54);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_lista div {
    display: flex;
    flex-direction: column;
}

.item_lista strong {
    color: rgba(204, 245, 234, 0.8);
    font-size: 16px;
    margin-bottom: 4px;
}

.item_lista span {
    font-size: 13px;
    color: #9a9a9a;
}

.botao_lixeira {
    background: none;
    border: none;
    color: #7a1f1f;
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    transition: color 0.3s;
}

.botao_lixeira:hover {
    color: #ff4d4d;
}